---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="example">Test</div>
  <h1>Welcome to <span class="text-xl font-bold">Astro</span></h1>
  <Card>
    <p>test</p>
  </Card>
</Layout>
