---
import Navigation from "./Navigation.astro";
---

<header class="text-white bg-indigo-500">
  <h2 class="text-lg font-extrabold text-center py-6">
    Mathematik und EDV Unterricht
  </h2>
  <Navigation />
</header>
