---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Website von Daria Bezous" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-screen-lg m-auto">
    <Header />
    <main class="bg-gray-100 text-gray-700">
      <slot />
    </main>
    <Footer />
  </body>
</html>
